<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>FIR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

    <style>
        body {
            background-image: url('/Img_fir_bg1.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
    <div align="center">
        <br>
        <br><br><br>
        <h1 style="font-family:verdana;font-size:300%;color:beige;">File the FIR</h1>
        <h1 th:text="${username}"></h1>
        <br />
        <div class="col-sm-4">
            <form th:action="@{/savefir}" th:object="${fir}" method="POST">


                <div alight="left">
                    <tr>
                        <label class="form-label" style="color:beige;">FIR Description</label><br>
                        <td>
                            <input type="hidden" th:field="*{caseid}" />
                            <input type="hidden" th:name="username" placeholder="username" th:value="${username}" />

                            <input type="text" th:field="*{description}" placeholder="FIR Description" /><br><br>
                            <input type="text" th:field="*{location}" placeholder="location" /><br><br>
                            <input type="text" th:field="*{type}" placeholder="type" /><br><br>
                        </td>
                    </tr>
                </div>

                <br>
                <tr>
                    <td colspan="2"><button type="submit" class="btn btn-info"
                            style="color:beige;background-color:black">Save</button> </td>
                </tr>
                </table>
            </form>
        </div>
</body>

</html>